@import url("/home/lobuche/.cache/wal/wofi_colors.css");

@keyframes fadeIn {
    0% {
    }
    100% {
    }
}

* {
    all: unset;
    font-family: "CodeNewRoman Nerd Font Mono", monospace;
    font-size: 18px;
    outline: none;
    border: none;
    text-shadow: none;
    background-color: transparent;
}

window {
    padding: 20px;
    background-color: alpha(@background, 0.7);
    color: @foreground;
    border-radius: 8px;
    border: 2px solid @color11; /* Use Accent 1 for a border */
}

#inner-box {
    margin: 0px;
}

#outer-box {
    margin: 0px;
}
#scroll {
    margin: 0px;
    padding: 30px;
    border: none;
}
#input {
    all: unset;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 20px;
    border: none;
    outline: none;
    color: @foreground;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10;
    background-color: alpha(@color0, 0.7);
}
#input image {
    border: none;
    color: @foreground;
    padding-right: 10px;
}
#input * {
    border: none;
    outline: none;
}

#input:focus {
    outline: none;
    border: none;

    border-radius: 10;
}
#text {
    margin: 5px;
    border: none;
    color: @foreground;
    outline: none;
}
#entry {
    border: none;
    margin: 5px;
    padding: 10px;
    background-color: alpha(@background, 0.7);
}
#entry arrow {
    border: none;
    color: @lavender;
}
#entry:selected {
    border: none;
    border-radius: 20px;
    background-color: alpha(@color12, 0.7);
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.03);
    color: @foreground;
}
#entry:selected #text {
    color: @color0;
}
#entry:drop(active) {
    background-color: alpha(@color12, 0.7);
}
#scrollbar {
    background-color: alpha(@color8, 0.7);
    border: none;
    margin: 5px;
}
