@import url('../../.cache/wal/colors-waybar.css');
* {
    all: unset;
    background-image: none;
    margin: unset;
    padding: unset;
    transition: 200ms cubic-bezier(0, 0, 1, 1);
}
window {
    all:unset;
    padding: 20px;
    border-radius: 0px;
    background-color: alpha(@background,.5);
}

button {
    font-family: 'CodeNewRoman Nerd Font Mono';
    font-size: 19pt;
    background-color: alpha(@color9,0.4);
    border-radius: 360px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}
#lock {
    background-image: image(url("../../.config/wlogout/lock.png"));
    margin : 10px 10px 10px 400px;
}
#shutdown {
    background-image: image(url("../../.config/wlogout/power.png"));
    margin : 10px 400px 10px 10px;
}
#logout {
    background-image: image(url("../../.config/wlogout/logout.png"));
    margin : 10px 400px 10px 10px;
}
#reboot {
    background-image: image(url("../../.config/wlogout/restart.png"));
    margin : 10px 10px 10px 400px;
}

#lock:hover {
    margin : 0px 0px 0px 390px;
}
#shutdown:hover {
    margin : 0px 390px 0px 0px;
}
#logout:hover {
    margin : 0px 390px 0px 0px;
}
#reboot:hover {
    margin : 0px 0px 0px 390px;
}
button:hover{
    background-color: alpha(@color5,0.7);
    background-position:center;
}
